
Snap Bank/.vs/Snap Bank/config/applicationhost.config
*.dll
Snap Bank/.vs/Snap Bank/config/applicationhost.config
Snap Bank/.vs/Snap Bank/v17/.suo
Snap Bank/.vs/Snap Bank/project-colors.json
Snap Bank/Snap Bank/obj/Debug/Snap Bank.csproj.AssemblyReference.cache
